Neural network
-implementation of input, hidden, output layers
-fully connected layers
-forward propagation using sigmoid
-backward propagation using sigmoid'
-random initialization
-"trained" against random "data"
Modifications:
-defined number of inputs depending upon the problem of choice
-defined number of outputs depending upon the problem of choice
-activation function and width/depth of hidden layers dynamically generated based on user selection via UI

UI
-basic Tkinter full-screen window
-some existing menu
-implementation of display of array of vertices and edges in Traveling Salesman
Modifications:
-NN settings menu
--choice of activation function
--choice of number of hidden layers
--choice of width of hidden layers
-menu item to generate and display a NN based on settings
-menu item to begin training using a dataset
-menu item to load a dataset from a file (filechooser dialog)
--data likely to be provided as CSV (comma-separated value) or XLS
--will need some sort of data parsing/normalization algorithm most likely
-live display of the accuracy of the NN predictions